.DS_Store
configstore/
github-copilot/
yarn
nvim_vsvim/
firebase/
op/
omf/
gh/
planetscale/
iterm2/
Nuget/
neofetch/
spotify-tui/
xbuild/
Microsoft\\VisualStudio Services/
raycast/
wireshark/
simple-update-notifier/
